html{
	scroll-behavior: smooth;
}
body{
	margin: 0 auto;
	color: rgb(84, 79, 91);
	font-family: Lora, serif;
	padding: 7px;
}
header{
	height: 60px;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: rgb(84, 79, 91);
	border-radius: 3px;
	margin-bottom: 10px;
}
.header-section{
	display: flex;
	justify-content: flex-end;
	padding: 5px 10px;
	background-color: rgb(84, 79, 91);
	border-radius: 3px;
	height: 50px;
	align-items: center;
}
.header-nav{
    max-width: 62%;
    width: 100%;
	display: flex;
	justify-content: flex-end;
}
#menu-toggle{
  display: none;
}
.menu-btn{
  display: none;
}
.header-nav > ul{
    justify-content: flex-end;
}
li{
    list-style: none;
	margin: 0 20px;
}
.nav ul{
    display: flex;
    padding: 0;
	margin: 0;
}
.header-nav > ul > li{
    display: flex;
    align-items: center;
}
.nav > ul > li > a{
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 2px;
    transition: 1s;
}
.nav > ul > li > a:hover{
    color: rgba(144, 110, 178, 0.64);
    cursor: pointer;
}
main{
	display: flex;
	flex-wrap: nowrap;
}
h1{
	color: rgba(0,0,0,.75);
	text-shadow: 0 0 15px;
	font-family: Lora, serif;
	margin: 0;
}
h2{
	text-shadow: 1px 1px 0 rgba(121, 73, 118, 0.75);
}
h3{
	border-bottom: 2px solid #96928e7a;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: Lora, serif;
	margin-bottom: -5px;
}
a{
	font-size: 14px;
	text-decoration: none;
	color: #48433D;
	cursor: pointer;
}
a:hover{
	color: #220554;
	font-weight: bold;
}
i{
	margin-right: 5px;
}
.left{
	background-color: #d6cbfe;
	box-shadow: 4px 2px 4px 2px rgba(14, 10, 27, 0.2);
	border-radius: 3px;
	height: 74%;
	top: 78px;
	min-width: 255px;
	width: 34%;
}
.right{
	height: 97%;
	width: 64%;
	margin-left: 35%;
}
.name-hero{
	display: flex;
	flex-direction: column;
	margin: 10% auto;
}
.name-text ul li{
	margin-left: -28px;
	margin-bottom: 5px;
	color: #48433D;
	list-style: none;
}
.me-img{
	background-image: url(../image/imgP.jpg);
	background-size: cover;
  	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
	box-shadow: 0 0 1rem rgba(66, 52, 52, 0.4);
	height: 100px;
	width: 100px;
	margin: 0 auto;
	transition: 1.2s;
	cursor: pointer;
}
.name-hero h1{
	font-family:Lora, sans-serif;
	text-align: center;
	color: #282639;
	text-shadow: 0 0 17px;
	letter-spacing: 3px;
}
.name-hero h1 em{
	font-style: normal;
	font-weight: 700;
	font-family: Lora, sans-serif;
}
.name-hero .name-text{
	margin: 0 auto;
	width: 85%;
}
.inner{
	margin: 0 auto;
	max-width: 975px;
	padding: 10px;
}
.inner h2{
	font-size: 26px;
}
.inner p{
	color:rgba(0,0,0,.77);
	font-size: 16px;
	line-height: 1.5;
}
.inner p em{
	color: rgba(73, 14, 131, 0.64);
	font-style:normal;
}
.inner section{
	margin: 30px auto;
	color: inherit;
}
.inner section p{
	text-indent: 10px;
	text-align: justify;
}
.skill-set {
    padding:0;
    list-style: none;
}
.skill-set li{
    padding:6px;
}
.skill-set li:before {
    padding-right:10px;
    font-weight: bold;
    color: #69517d;
    content: "\2714";
    transition-duration: 0.5s;
}
.skill-set li:hover:before {
    color: #f0a441;
    content: "\2714";
} 
.codeExample{
	width: 70%;
	margin: 0 auto;
	background-color: #d6cbfe;
	box-shadow: 4px 2px 4px 2px rgba(14, 10, 27, 0.2);
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	border-radius: 3px;
}
.codeExample pre{
	text-align: justify;
	font-size: 14px;
	overflow: auto;
}
.container-video{
	display: flex;
	justify-content: center;
}
.container-video > iframe{
	box-shadow: 4px 2px 4px 2px rgba(14, 10, 27, 0.2);
	border-radius: 5px;
	border: none;
}
.handmade p{
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: end;
	text-shadow: 1px 1px 0 rgba(230, 209, 231, 0.67);
}
footer{
	display: flex;
	justify-content: space-between;
	padding: 5px 25px;
	background-color: rgb(84, 79, 91);
	border-radius: 3px;
	height: 40px;
	align-items: center;
}
.footerLink{
	color:#ffffff;
	font-size: xx-small;
	font-family: Lora, sans-serif;
	text-shadow: 0 0 15px;
}
.footerLink a{
	color:#ffffff;
	font-weight: 700;
	font-family: Lora, sans-serif;
	text-shadow: 0 0 15px;
}
.footerLink > i{
	font-size: 14px;
	color:#ffffff;
	text-shadow: 0 0 15px;
}
.footerLogo img{
	width: 50px;
	height: 50px;
	padding-top: 5px;
}

@media screen and (max-width: 1375px){
.menu-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 1;	
	}
.menu-btn img{
	width: 50px;
}
.nav ul{
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%;
	width: 175px;
	margin: 0;
	padding: 20px 0;
	list-style: none;
	background-color: rgb(84, 79, 91);
	transition-duration: .5s;
}
#menu-toggle:checked ~ ul{
  visibility: visible;
  right: 0;
  opacity: .8;
	}
}
@media screen and (min-width: 770px) {
.name-text h3{
	font-size: 14px;
}
.name-text h1{
	font-size: 24px;
	}
.left{
	position: fixed;
	}
.name-text li, a{
	font-size: 13px;
}
}
@media screen and (max-width: 770px) {
main{
	flex-wrap: wrap;
	justify-content: center;
}
.left{
	width: 100%;
	min-height: 655px;
}
.right{
	width: 100%;
	margin-left: 0;
}
h3{
	margin-bottom: 20px;
}
.me-img{
	width: 200px;
	height: 200px;
	margin-top: 10px;
}
.name-text li, a{
	font-size: 16px;
}
.handmade {
	text-align: end;
	margin-top: 20px;
}
.handmade em {
	font-family: Lora, cursive;
	font-size: 14px;
	margin-left: 15px;
}
.name-text ul li{
		font-size: 14px;
		margin-bottom: 10px;
	}
.video-content{
	display: none;
	}
}
@media screen and (max-width: 600px) {
.container-video > iframe{
	width: 400px;
	height: 215px;
}
}
@media screen and (max-width: 455px) {
.codeExample{
	width: 100%;
	}
.container-video > iframe{
	width: 315px;
	height: 165px;
}
}